@{
    Page.Title = "Web Grid";
    Layout = "~/_LayoutPage.cshtml";

    //Use the Request.QueryString["xxxx"] method to capture data that may be passed to this page
    //Reference the parameter id in this method

    var cid = Request.QueryString["cid"];

    //BEST PRACTICE 
    //If you expect a parameter then check it was actually passed
    //If a parameter value was not received, your variable will be NULL 

    if(string.IsNullOrEmpty(cid))
    {
        Response.Redirect("MultiRecordQuery.cshtml");
    }
    var db = Database.Open("NWDB");
    var querycommand = "SELECT ProductID, ProductName, UnitPrice, UnitsInStock, Discontinued "
                        + "FROM Products "
                        + "WHERE CategoryID = @0";
    var results = db.Query(querycommand, cid);

    //A single value is being  returned from sql
    var queryscalecommand = "SELECT CategoryName "
                            + "FROM Categories "
                            + "WHERE CategoryID = @0";

    var categoryname = db.QueryValue(queryscalecommand, cid);

    //Create the instance that will bw used on the WebGrid Control
    //At the time of WebGrid instance creation, you must supply the data collection
    var gridinstance = new WebGrid(results, rowsPerPage:5);



}

@section banner{
    <h1>Database: Web Grid</h1>
}

<div>
    <text class="col-md-offset-1">
        <span style="color:lightblue; font-size:x-large" ><strong>Product for @categoryname</strong></span>

        <!--Display webgrid-->
        @gridinstance.GetHtml(
                tableStyle: "table table.bordered table-striped table-hover",
                mode: WebGridPagerModes.All,
                firstText: "Start",
                lastText: "End",
                columns: gridinstance.Columns(
                    gridinstance.Column(columnName:"ProductID",header:"ID"),
                    gridinstance.Column(columnName: "ProductName", header: "Product"),
                    gridinstance.Column(columnName: "UnitPrice", header: "Price", format:(forthisrowitem) => forthisrowitem.UnitPrice.ToString("0.00")),
                    gridinstance.Column(columnName: "UnitsInStock", header: "QoH"),
                    gridinstance.Column(columnName: "Discontinued", header: "Halted",
                                format: @<input name="discontinued" type="checkbox" value="@item.Discontinued" 
                                        @(item.Discontinued == true ? "Checked" : null) 
                                        disabled ="disabled"/>),
                    gridinstance.Column(header:"", format: @<text><a href="~/DBPages/WebGridDestination.cshtml?pid=@item.ProductID&pn=@item.ProductName" 
                                                    onclick="return confirm('Are you sure you wish to view the product details of @item.ProductName')">View</a>
                                                    </text>)

                    ))
</div>